# master.conf example file
#
# This is a config file for the Handlebar system.  Read it using Config::Simple
#
# This is a configuration file for running the public_query.cgi script over several
# databases.  The script will determine which database to use based on code or collection
# the user searches for and load the corresponding configuration file.

PAGE_TITLE: Handlebar query
PAGE_DESCRIPTION: Query published collections
PAGE_MAINTAINER: Tim Booth (helpdesk@envgen.nox.ac.uk)
STYLESHEET: /~tbooth/cgi-bin/test_barcode/package/bcstyle.css

#This is the important one.  Set it to the number of databases in use, then
#set parameters for the databases below.
MASTER_SEARCH: 3

#You can bypass the publication checks - useful for testing or for replacing the
#old master query functionality found in query_barcodes.cgi, which could view
#any code.
DISABLE_PUBLICATION_CHECK: 0

#Databases are numbered from 1.  For each of the databases you must at least
#give the high and low codes and the prefix or prefixes used for collections.  
#A label is also a good idea - if you set a description here it will override
#the PAGE_DESCRIPTION from the CONFIG_FILE.
DESCRIPTION_1: Test database
LOW_CODE_1: 1
HIGH_CODE_1: 999999
COLLECTION_PREFIX_1: coll.00 demo
CONFIG_FILE_1: /home/tbooth/sandbox/handlebar/barcodes.conf

DESCRIPTION_2: Production database 1 (MM)
LOW_CODE_2: 01-000000
HIGH_CODE_2: 01-999999
COLLECTION_PREFIX_2: coll.01
CONFIG_FILE_2: /home/tbooth/sandbox/handlebar_mm/barcodes.conf

DESCRIPTION_2: Default database
LOW_CODE_3: 20-000000
HIGH_CODE_3: 20-999999
COLLECTION_PREFIX_3: coll.20
CONFIG_FILE_3: /usr/lib/cgi-bin/handlebar/barcodes.conf

